
<!-- BEGIN BREADCRUMBS -->   
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Register 会员注册</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
            </div>
        </div>
    </div>
<!-- END BREADCRUMBS -->


<!-- BEGIN CONTAINER -->   
    <div class="container margin-bottom-40">
    	<!--/row-->
        <div class="row">
            <form action="{:U('Member/Register/Submit')}" method="post" class="form-horizontal">
                <input type="hidden" name="formhash" value="{$formhash}">
				<div class="col-md-4">
					<div class="row">
						<img src="assets/img/photos/img4.jpg">
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                    <input type="text" class="form-control" placeholder="用户名" name="username" id="username" >
			                </div>
			            	<div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			                    <input type="text" class="form-control" placeholder="密码" name="password" id="password" >
			                </div>
			                <div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			                    <input type="text" class="form-control" placeholder="确认密码" name="password2" id="password2">
			                </div>
						</div>
						<div class="col-md-6">
							<div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			                    <input type="text" class="form-control" placeholder="邮箱" name="email" id="email">
			                </div>
			            	<div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="fa fa-apple"></i></span>
			                    <input type="text" class="form-control" placeholder="手机号码" name="mobile" id="mobile">
			                </div>
			                <div class="input-group margin-bottom-20">
			                    <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
			                    <input type="text" class="form-control" placeholder="短信验证码" name="sign" id="sign">
			                    <span class="input-group-btn"><button class="btn btn-info green" type="button" style="position:absolute; top:0px; _position:relative; _height:34px; _top:-36px; _left:110px;" id="smscheck">短信验证码</button></span>
			                </div>
						</div>
						<div class="col-md-12">
						<input type="submit" class="btn btn-info green col-md-12" name="register" value="提交注册" id="register_submit">						</div>
					</div>
				</div>	            	
            </form>
        </div>
    </div>
<!-- END CONTAINER -->

<script type="text/javascript">
	$(document).ready(function(){
	    $(".form-horizontal").Validform({
	    	btnSubmit:"#register_submit",
	    	btnReset:".btn_reset",//可选项 .btn_reset是该表单下要绑定点击重置表单事件的按钮;
			tiptype:1, //可选项 1=>pop box,2=>side tip(parent.next.find; with default pop),3=>side tip(siblings; with default pop),4=>side tip(siblings; none pop)，默认为1，也可以传入一个function函数，自定义提示信息的显示方式（可以实现你想要的任何效果，具体参见demo页）;
			ignoreHidden:false,//可选项 true | false 默认为false，当为true时对:hidden的表单元素将不做验证;
			dragonfly:false,//可选项 true | false 默认false，当为true时，值为空时不做验证；
			tipSweep:true,//可选项 true | false 默认为false，只在表单提交时触发检测，blur事件将不会触发检测（实时验证会在后台进行，不会显示检测结果）;
			label:".label",//可选项 选择符，在没有绑定nullmsg时查找要显示的提示文字，默认查找".Validform_label"下的文字;
			showAllError:false,//可选项 true | false，true：提交表单时所有错误提示信息都会显示，false：一碰到验证不通过的就停止检测后面的元素，只显示该元素的错误信息;
			postonce:true, //可选项 表单是否只能提交一次，true开启，不填则默认关闭;
			ajaxPost:true, //使用ajax方式提交表单数据，默认false，提交地址就是action指定地址;
			datatype:{//传入自定义datatype类型，可以是正则，也可以是函数（函数内会传入一个参数）;
				"*6-20": /^[^\s]{6,20}$/,
				"z2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
				"username":function(gets,obj,curform,regxp){
					//参数gets是获取到的表单元素值，obj为当前表单元素，curform为当前验证的表单，regxp为内置的一些正则表达式的引用;
					var reg1=/^[\w\.]{4,16}$/,
						reg2=/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,8}$/;
					
					if(reg1.test(gets)){return true;}
					if(reg2.test(gets)){return true;}
					return false;
					
					//注意return可以返回true 或 false 或 字符串文字，true表示验证通过，返回字符串表示验证失败，字符串作为错误提示显示，返回false则用errmsg或默认的错误提示;
				},
				"phone":function(){
					// 5.0 版本之后，要实现二选一的验证效果，datatype 的名称 不 需要以 "option_" 开头;	
				}
			},
			usePlugin:{
				swfupload:{},
				datepicker:{},
				passwordstrength:{},
				jqtransform:{
					selector:"select,input"
				}
			},
			beforeCheck:function(curform){
				//在表单提交执行验证之前执行的函数，curform参数是当前表单对象。
				//这里明确return false的话将不会继续执行验证操作;	
			},
			beforeSubmit:function(curform){
				//在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
				//这里明确return false的话表单将不会提交;	
			},
			callback:function(data){
				//返回数据data是json格式，{"info":"demo info","status":"y"}
				//info: 输出提示信息;
				//status: 返回提交数据的状态,是否提交成功。如可以用"y"表示提交成功，"n"表示提交失败，在ajax_post.php文件返回数据里自定字符，主要用在callback函数里根据该值执行相应的回调操作;
				//你也可以在ajax_post.php文件返回更多信息在这里获取，进行相应操作；
				//ajax遇到服务端错误时也会执行回调，这时的data是{ status:**, statusText:**, readyState:**, responseText:** }；
				
				//这里执行回调操作;
				//注意：如果不是ajax方式提交表单，传入callback，这时data参数是当前表单对象，回调函数会在表单验证全部通过后执行，然后判断是否提交表单，如果callback里明确return false，则表单不会提交，如果return true或没有return，则会提交表单。
			}
	    });

	    // $("#sign").click(function(){
	    // 	alert('HELLO');
	    //})
	});
</script>

</div>
<!-- END PAGE CONTAINER -->


