        <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>Register 会员注册</h1>
                </div>
                <div class="col-md-8 col-sm-8">
                    <ul class="pull-right breadcrumb">
                        <li><a href="{:U('Home/Index/Index')}">首页</a></li>
                        <li><a href="{:U('Member/Index/Index')}">会员中心</a></li>
                        <li class="active">会员注册</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->


<!-- BEGIN CONTAINER -->   
        <div class="container margin-bottom-40">
          <div class="row" style="width:800px;float:right">
            <form action="#" class="form-horizontal">
                <div class="form-body">
                <h2 class="form-section" style="height:40px">注册</h2>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input type="text" class="form-control" placeholder="用户名" name="username" style="width:250px">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                            <input type="text" class="form-control" placeholder="邮箱" name="email" style="width:250px">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                            <input type="password" class="form-control" placeholder="密码" name="password" style="width:250px">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-apple"></i></span>
                                                            <input type="text" class="form-control" placeholder="手机" name="mobile" style="width:250px">
                                                        </div>
                                                    </div>
                                                </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                            <input type="password" class="form-control" placeholder="确认密码" name="password2" style="width:250px">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group margin-bottom-20">
                                                            <span class="input-group-addon"><i class="fa fa-android"></i></span>
                                                            <input type="text" class="form-control" placeholder="手机验证码" name="sign" style="width:150px">
                                                            <button class="btn green btn-info" type="button" style="position:absolute; top:0px; _position:relative; _height:34px; _top:-36px; _left:110px;" id="smscheck">短信验证码</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6" style="margin-top:30px;padding-left:280px">
                                                        <button type="submit" class="btn green btn-info" style="width:200px;height:40px;">提交注册</button>
                                                    </div>
                                                </div>
                </div>                                             
            </form>
            
          </div>
        </div>
        <!-- END CONTAINER -->

  </div>
    <!-- END PAGE CONTAINER -->